<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.Management" version="5.0.0" targetFramework="net46" />
  <package id="TaskScheduler" version="2.10.1" targetFramework="net46" />
  <Package
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">
  <Capabilities>
    <rescap:Capability Name="smbios"/>
  </Capabilities>
  </Package>
</packages>