name: commit build

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Setup MSBuild 
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2
      - name: Install dependencies
        run: nuget restore client\client.sln
      - name: Build Release
        run: msbuild client\client.sln -property:Configuration=Release
      - name: Build Release - NoRing0 build
        run: | 
          msbuild client\client.sln -property:Configuration=ReleaseNoRing0
          ren "client\bin\Release\NoRing0\specify_client.exe" "specify_client_noring0.exe"
      - name: Upload build
        uses: actions/upload-artifact@v4.3.6
        with:
          name: specify_client_commit
          path: |
            client\bin\Release\specify_client.exe
            client\bin\Release\NoRing0\specify_client_noring0.exe
